<div class="wrapper">

  <h1>LIFE.ROCKS!</h1>

  <button id='dance'>Dance!</button>
  <img src='http://www.tylonproducts.com/wp-content/uploads/2013/08/petrock.png' class='rock' id='rock'/>

</div>

<img src='http://th01.deviantart.net/fs22/PRE/f/2008/019/4/a/4a0962e60dd377f5.jpg' class='background'>