<body style="background-image: url('https://cache.nebula.phx3.secureserver.net/obj/OUIyODQyNTY4QTc1ODc1MDlCNTY6MmM3N2EyZTkwNTNmYTBiNTcwM2E0MGI1N2Q4MTE0NGQ=')">

<h1 style="color: deeppink; font-size: 80px; text-align: center">Are you ready to rock?!</h1>

<div class="button">
  <%= link_to "Hellz Yeah!", "/rock", class: "text_decoration" %>
</div>
<br>
<br>
<br>
<div class="button">
  <%= link_to "No thanks you, good sir.", "/lame_ass", class: "text_decoration" %>
</div>
</body>